######################################################
### Zacks Processes ###
######################################################

30 07 * * 1-5 /home/cpt/paxcel/components/zacks/bin/runZacksMasterDriver.sh company_info | mail -s "{{ENV}}- Zacks Company Info -cz1"  {{notify_email}}

40 07 * * 1-5 /home/cpt/paxcel/components/zacks/bin/runZacksMasterDriver.sh company_address_info | mail -s "{{ENV}}- Zacks Company Address Info -cz2"  {{notify_email}}

20 08 * * 01 /home/cpt/paxcel/components/zacks/bin/runZacksMasterDriver.sh business_description | mail -s "{{ENV}}- Zacks business description"  {{notify_email}}

10 23 * * 1-5 /home/cpt/paxcel/components/zacks/bin/runZacksMasterDriver.sh earnings_estimates | mail -s "{{ENV}}- Zacks earnings estimates- zn2"  {{notify_email}}

00 23 * * 1-5 /home/cpt/paxcel/components/zacks/bin/runZacksMasterDriver.sh consensus_earnings_surprise | mail -s "{{ENV}}- Zacks earnings surprise zn3"  {{notify_email}}

30 00 * * 2-6 /home/cpt/paxcel/components/zacks/bin/runZacksMasterDriver.sh analyst_revisions | mail -s "{{ENV}}- Zacks Analyst Revisions zn6"  {{notify_email}}

30 00 * * 2-6 /home/cpt/paxcel/components/zacks/bin/runZacksEarningReportDateDriver.sh | mail -s "{{ENV}}- Zacks Earnings Report z6c zn8a"  {{notify_email}}

30 06 * * 2-5 /home/cpt/paxcel/components/zacks/bin/runZacksMasterDriver.sh financial_ratios | mail -s "{{ENV}}- Zacks Financial Ratios znr"  {{notify_email}}

30 08 * * 6 /home/cpt/paxcel/components/zacks/bin/runZacksMasterDriver.sh financial_ratios | mail -s "{{ENV}}- Zacks Financial Ratios znr"  {{notify_email}}

01,13,25,37,49 09,10,11,12,13,14,15,16,17,18 * * 1-5 /home/cpt/paxcel/components/zacks/bin/runZacksMasterDriver.sh dividend_earning_surprise > /home/cpt/paxcel/components/zacks/logs/dividend_earning_surprise.$(date +"\%Y-\%m-\%d").log 2>&1

01,13,25,37 19 * * 1-5 /home/cpt/paxcel/components/zacks/bin/runZacksMasterDriver.sh dividend_earning_surprise > /home/cpt/paxcel/components/zacks/logs/earning_surprise.$(date +"\%Y-\%m-\%d").log 2>&1

30 22 * * 1-5 /home/cpt/paxcel/components/zacks/bin/runZacksMasterDriver.sh earnings_report | mail -s "{{ENV}}- Zacks Earnings Report EX5"  {{notify_email}}

35 06 * * 1-5 /home/cpt/paxcel/components/zacks/bin/runZacksMasterDriver.sh company_portrait | mail -s "{{ENV}}- Company Portrait Zk3"  {{notify_email}}

35 12 * * 07 /home/cpt/paxcel/components/zacks/bin/runZacksMasterDriver.sh sales_ni_eps | mail -s "{{ENV}}- Sales EPS"  {{notify_email}}

30 23 * * 1 /home/cpt/paxcel/components/zacks/bin/runZacksMasterDriver.sh earnings_estimates_alert  | mail -s "{{ENV}}- zacks earnings estimates alerts"  {{notify_email}}

20 23 * * 2-6 /home/cpt/paxcel/components/zacks/bin/runZacksMasterDriver.sh earnings_estimates_zn1 |  mail -s "{{ENV}}- zacks earnings estimates- zn1"  {{notify_email}}

00 03 * * 2-6 /home/cpt/paxcel/components/zacks/bin/runZacksOptionableIndicatorsDriver.sh | mail -s "{{ENV}}- zacks optionable indicators - zk4"  {{notify_email}}


######################################################
### Quotemedia Intraday Feed ###
######################################################
10 09 * * 1-5 /home/cpt/paxcel/components/realtime/bin/runDataFeedProcess.sh 2>&1  | mail -s "{{ENV}}- QuoteMedia Process" {{notify_email}}

######################################################
## Pershing Daily process
######################################################
00 08 * * 2-6 /home/cpt/paxcel/components/pershing/bin/runPershingDailyProcess.sh  2>&1 | mail -s "{{ENV}}- Pershing Daily Process" {{notify_email}}

######################################################
## Discovery Engine Lists process
######################################################
50 08 * * 1-6 /home/cpt/paxcel/components/bin/runUpdateDELists.sh  2>&1 | mail -s "{{ENV}}- Update Discovery Engine Lists" {{notify_email}}

40 18 * * 6 /home/cpt/paxcel/components/bin/runUpdateDELists.sh 2>&1 | mail -s "{{ENV}}- Update Discovery Engine Lists" {{notify_email}}

00 04 * * 1-5 /home/cpt/paxcel/components/xignitenewsfeed/bin/runCompanyLogoFeedProcess.sh 2>&1  | mail -s "{{ENV}}- Xignite Company Logo Process" {{notify_email}}


######################################################
# PGR process
######################################################
30 05 * * 2-5 /home/cpt/paxcel/components/pgr/bin/runPGRDailyProcess.sh 2>&1 | mail -s "{{ENV}}- PGR Daily Update process" {{notify_email}}

00 18 * * 6 /home/cpt/paxcel/components/pgr/bin/runPGRDailyProcess.sh 2>&1 | mail -s "{{ENV}}- PGR Daily Update process" {{notify_email}}

30 05 * * 1 /home/cpt/paxcel/components/pgr/bin/runPGRAlertsProcess.sh 2>&1 | mail -s "{{ENV}}- PGR Alert process" {{notify_email}}

00 23 * * 2-6 /home/cpt/paxcel/components/bin/runArchivePGRCurrentData.sh

######################################################
# Minnette process
######################################################
00 23 * * 1-5 /home/cpt/paxcel/components/minnette/bin/cron-minnette-history.sh 2>&1 | mail -s "{{ENV}}- Engine3 Calcs Daily process" {{notify_email}}

15 05 * * 1-6 /home/cpt/paxcel/components/minnette/bin/cron-minnette-corpactions.sh 2>&1 | mail -s "{{ENV}}- Engine3 Calcs Splits process" {{notify_email}}


######################################################
#PHC Mailer Process
######################################################
#00 11 * * 6 /home/cpt/paxcel/components/phcMail/bin/runPHCMailProcess.sh 2>&1 | mail -s "PHC Mailer Process" cptdev@paxcel.net, mail -s "PHC Mailer Process" SysAdmin@FlexiSphere.com, mail -s "QA - PHC Mailerr Process" {{notify_email}}

######################################################
#CTI Alert Process
######################################################
#20 00 * * 1-5 /home/cpt/paxcel/components/pgr/bin/runCTIAlertProcess.sh 2>&1 | mail -s "{{ENV}}- CTI Alerts Process"  {{notify_email}}

######################################################
#Market Indices
######################################################
#01 01 * * 1-7 /home/cpt/paxcel/components/marketIndices/bin/runMarketIndices.sh 2>&1 | mail -s "{{ENV}}- Market Indices Process" {{notify_email}}

######################################################
#Market76
######################################################
#18 10 * * 1-7 /home/cpt/paxcel/components/market76/bin/runMarket76Process.sh  2>&1 | mail -s "{{ENV}}- Market76 Daily Process" {{notify_email}}

######################################################
#Delete PDF reports
######################################################
00 07 * * 1-7 /home/cpt/paxcel/components/bin/deleteGeneratedPDFReports.sh

59 23 * * 1-7 /home/cpt/paxcel/components/bin/deleteGeneratedPDFReports.sh

54 23 * * 1-7 /home/cpt/paxcel/components/bin/runUpdateClosePrice.sh

59 23 * * 1-7 /home/cpt/paxcel/components/bin/runDeleteWebLiteInstances.sh

00 06 * * 1 /home/cpt/paxcel/components/bin/updateWeeklyLastMarketDay.sh

#15 00 * * 1-7 /home/cpt/paxcel/components/bin/updateUsersRoles.sh


######################################################
#ETF Process
######################################################
15 08 * *  1-5 /home/cpt/paxcel/components/etf/bin/runETFSymbolsUpdaterProcess.sh 2>&1 | mail -s "{{ENV}}- ETF Daily Process" {{notify_email}}

######################################################
#weekly notifications
######################################################
#00 04 * * 4 /home/cpt/paxcel/components/bin/mailZacksAndiPhoneUsersList.sh

######################################################
# update Alert hotlists
######################################################
11,23,35,47,59 09,10,11,12,13,14,15,16,17,18 * * 1-5 /home/cpt/paxcel/components/bin/updateEarningSurpriseAlertHotlists.sh

11,23,35,47 19 * * 1-5 /home/cpt/paxcel/components/bin/updateEarningSurpriseAlertHotlists.sh

40 01 * * 1 /home/cpt/paxcel/components/bin/updateEarningEstimateAlertHotlists.sh

25 01 * * 2-6 /home/cpt/paxcel/components/bin/updateEarningEstimateAlertHotlists.sh


######################################################
#Ameritrade Daily Process
######################################################
52 10 * * 1-7 /home/cpt/paxcel/components/ameritrade/bin/runAmeritradeDailyProcess.sh  2>&1 | mail -s "{{ENV}}- Ameritrade Daily Process" {{notify_email}}

######################################################
#Screener Daily Process
######################################################
54 00 * * 6 /home/cpt/paxcel/components/screener/bin/runScreenerProcess.sh  2>&1 | mail -s "{{ENV}}- Screener Daily Process" {{notify_email}}

40 07 * * 1-5 /home/cpt/paxcel/components/screener/bin/runScreenerProcess.sh  2>&1 | mail -s "{{ENV}}- Screener Daily Process" {{notify_email}}

40 18 * * 6 /home/cpt/paxcel/components/screener/bin/runScreenerProcess.sh  2>&1 | mail -s "{{ENV}}- Screener Daily Process" {{notify_email}}


######################################################
#App Usage Upload Process
######################################################
#45 00 * * 1-7 /home/cpt/paxcel/components/infusionsoft/bin/runAppUsageUploadProcess.sh 2>&1 | mail -s "{{ENV}}- AppUsage DataUpload Process" {{notify_email}}

######################################################
# Load EPS Info
######################################################
48 00 * * 2-6 /home/cpt/paxcel/components/bin/loadEPSInfoToRedis.sh | mail -s "{{ENV}}- Load EPS Info to Redis"  {{notify_email}}

######################################################
# Xignite News Headline Process
######################################################
00 01 * * 1-5 /home/cpt/paxcel/components/xignitenewsfeed/bin/runNewsFeedProcess.sh 2>&1  | mail -s "{{ENV}}- XIgnite News Process" {{notify_email}}

