global
    log localhost local0
    daemon
    maxconn 256
    spread-checks 5
    tune.ssl.default-dh-param 2048
    ssl-default-bind-ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA

defaults
    log global
    option httplog clf
    option log-separate-errors
    mode http
    option forwardfor
    timeout connect  30s
    timeout client  30s
    timeout server  30s
    errorfile 503 /etc/haproxy/errorfiles/503.http
    option httpclose # disables keepalive
    stats enable
    stats uri     /admin?stats
    stats refresh 15s
    stats realm   CPT\ proxy\ Statistics
    stats auth    admin:AdMiNCpT


frontend http-in
    bind *:80
    acl thorn hdr(host) -i {{app_url}}
    acl insights url_sub insights
    use_backend tomcat_servers_ssl if thorn
    use_backend wordpress_server if insights
    default_backend tomcat_servers

frontend https-in
    bind *:443 ssl crt /etc/ssl/certs/server.pem no-sslv3
    reqadd X-Forwarded-Proto:\ https
    acl chart url_sub StockChartX
    acl calc  url_sub CPTCalculationsService
    acl wl_acl  url_sub console core apps
    acl favicon url_sub /favicon.ico

    acl cptrestsecure url_sub CPTRestSecure
    acl newsletter url_sub ChaikinNewsletter
    acl cptrest path_reg ^/CPTRest/|^/CPTRest$|^/ChaikinStocksResearch/|^/ChaikinStocksResearch$
    acl insights url_sub insights
    capture request header Environment len 20
    capture request header Version len 10
    use_backend wordpress_server if insights
    use_backend tomcat_servers if cptrestsecure or newsletter
    default_backend tomcat_servers


backend tomcat_servers_ssl
    redirect scheme https code 301 if !{ ssl_fc }
    balance roundrobin
    server {{tomcat_server}} {{tomcat_server}}:8080 maxconn 64 check observe layer7

backend tomcat_servers
    balance roundrobin
    server {{tomcat_server}} {{tomcat_server}}:8080 maxconn 64 check observe layer7

backend wordpress_server
    option httpchk GET /insights/?json=get_recent_posts&count=1
    server {{wordpress_server}} {{wordpress_server}}:{{wordpress_port}} maxconn 64 check observe layer7


