#!/bin/bash -x
###############################################################################
#  Description: Script fetches Wordpress backup from File Server              #
#                                                                             #
#                                                                             #
#                                                                             #
#                                                                             #
#                                                                             #
#                                                                             #
#                                                                             #
###############################################################################
BACKUP_SERVER='172.31.90.16'
USER='cpt'
BACKUP_DIR='/home/cpt/chaikin_backups/data'
HTML_DIR='/var/www/html'
TMP_DIR='/tmp'
USER='cpt'
PASSWORD='**CPT$$cpt**'
DB='wordpress'
MYSQL_USER='cpt'
MYSQL_HOST={{mysql_server}}
MYSQL_PASSWORD='**CPT$$cpt**'
SITE_URL='https://{{app_url}}/insights'
###############################################################################
function abort(){
  echo $1
  exit 1
}

function find_folder_with_latest_files(){
  CURRENT_TIME=$(date +"%H")
  if [[ $CURRENT_TIME -le '2' ]]; then
    DAY=$(date +"%a" -d "yesterday")
  else
    DAY=$(date +"%a")
  fi
  echo $DAY
}

function restore_wp(){

  sudo service httpd stop
  [[ $? -ne 0 ]] && abort "[ERROR] Failed to stop httpd service."

  sudo tar -czvf $TMP_DIR/wp.tar.gz $HTML_DIR/insights
  [[ $? -ne 0 ]] && echo "[ERROR] Failed to take backup of /var/www/html/insights"
  echo "[INFO] Created backup of /var/www/html/insights files at /tmp/wp.tar.gz"

  OPTIONS='-aze ssh -t'
  DAY=$(find_folder_with_latest_files)

  sudo chown -R cpt:cpt $HTML_DIR 

  rsync $OPTIONS --exclude=wp-config.php $USER@$BACKUP_SERVER:$BACKUP_DIR/$DAY/insights $HTML_DIR/
  [[ $? -ne 0 ]] && abort "[ERROR] Failed to fetch Insights backup from file server."
  echo "[INFO] Insights backup fetched succesfully."

  rsync $OPTIONS $USER@$BACKUP_SERVER:$BACKUP_DIR/$DAY/wordpress.sql $TMP_DIR/
  [[ $? -ne 0 ]] && abort "[ERROR] Failed to fetch wordpress.sql from file server."
  echo "[INFO] Fetch wordpress.sql from file server."

  sudo chown -R apache:apache $HTML_DIR/insights
  sudo chmod +s $HTML_DIR/insights

  echo "[INFO] Creating wordpress database if it doesn't exist..."
  mysql -u$MYSQL_USER -p$MYSQL_PASSWORD -h$MYSQL_HOST -Bse \
  "
  DROP DATABASE IF EXISTS wordpress; 
  CREATE DATABASE wordpress DEFAULT CHARACTER SET latin1;
  GRANT ALL PRIVILEGES ON *.* TO '$MYSQL_USER'@'%' WITH GRANT OPTION; 
  FLUSH PRIVILEGES;
  "

  echo "[INFO] Restoring wp mysql dumps..."
  mysql -u$MYSQL_USER -p$MYSQL_PASSWORD -h$MYSQL_HOST $DB < $TMP_DIR/wordpress.sql
  [[ $? -ne 0 ]] && abort "[ERROR] Mysql restore of wordpress.sql failed."

  sudo service httpd start
  [[ $? -ne 0 ]] && abort "[ERROR] Failed to start httpd service."
  echo "[INFO] Wordpress restored succesfully."
}

function modify_site_url(){
  mysql -u$MYSQL_USER -p$MYSQL_PASSWORD -h$MYSQL_HOST $DB -Bse \
  "
  UPDATE wp_options SET option_value='$SITE_URL'
  WHERE option_value='https://app.chaikinanalytics.com/insights/';

  UPDATE wp_options SET option_value='$SITE_URL'
  WHERE option_value='http://172.31.89.61/insights';

  UPDATE wp_options SET option_value='$SITE_URL'
  WHERE option_name='siteurl';

  UPDATE wp_options SET option_value='$SITE_URL'
  WHERE option_value='https://app.chaikinanalytics.com/insights';

  UPDATE wp_options SET option_value='$SITE_URL'
  WHERE option_value='http://app.chaikinanalytics.com/insights';


  UPDATE wp_posts SET post_content =
  REPLACE(post_content,'https://app.chaikinanalytics.com/','$ENV_URL')
  WHERE post_content LIKE '%https://app.chaikinanalytics.com%' ;

  UPDATE wp_posts SET guid =
  REPLACE(guid,'https://app.chaikinanalytics.com/','$ENV_URL')
  WHERE guid LIKE '%https://app.chaikinanalytics.com%';

  UPDATE wp_posts SET post_content =
  REPLACE(post_content,'http://172.31.89.61/','$ENV_URL')
  WHERE post_content LIKE '%http://172.31.89.61%' ;

  UPDATE wp_posts SET guid =
  REPLACE(guid,'http://172.31.89.61/','$ENV_URL')
  WHERE guid LIKE '%http://172.31.90.61%';
  "
  [[ $? -ne 0 ]] && abort "[ERROR] Modification of site url in wordpress db failed."
}

### MAIN ###
restore_wp
modify_site_url

exit 0
